a {
    color: white;

}

a:hover {
    color: grey;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    justify-content: flex-end;
    text-decoration: none;
}

body {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: 270%;

}

.logo {
    height: 150px;
}

header {
    display: flex;
    justify-content: space-between;
}
nav {
    justify-content: flex-end;
}
